{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
  <div class="row col-lg-10 pt-4">
    <h1>Login</h1>
    <div class="row col-8 pt-2">
      {% if form.errors %}
        <div class="alert alert-danger" role="alert">
          {% for k, error in form.errors.items %}
            {{ error }}
          {% endfor %}
        </div>
      {% endif %}
      <form method="POST">
        {% csrf_token %}
        {{ form.username|as_crispy_field }}
        <button class="btn btn-primary btn-lg" type="submit">Login</button>
      </form>
    </div>
    <div class="row col-8 pt-4 px-2">
      <small>
        <i>
          Trouble?<br />
          <a href="{% url 'accounts:signup_no_password' %}">Register new account (no password required)</a>
          <br />
          <a href="{% url 'password_reset' %}">Forgot password</a>
        </i>
      </small>
      <br />
    </div>
  </div>
{% endblock %}
