{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
  <div class="container-fluid">
    <div class="row col-lg-12 pt-4">
      {% if messages %}
        {% for message in messages %}
          {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
            <div class="alert alert-danger" role="alert">{{ message }}</div>
          {% elif message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
            <div class="alert alert-success" role="alert">{{ message }}</div>
          {% else %}
            <div class="alert alert-info" role="alert">{{ message }}</div>
          {% endif %}
        {% endfor %}
      {% endif %}
    </div>
    <div class="row">
      <h1>Registration</h1>
      <main class="col-md-8 pt-4">
        {% crispy form %}
      </main>
    </div>
    <div class="row col-8 pt-4 px-1">
      <small><i>Already have an account? Login <a href="{% url 'accounts:login_no_password' %}">here</a>(no password)</i></small>
    </div>
  </div>
{% endblock %}
