{% extends 'base.html' %} {% block content %}
  <div class="row pb-4 align-items-md-stretch">
    <div class="col-md-12">
      <div class="h-100 p-3 text-bg-dark rounded-3">
        <div class="d-flex align-items-center justify-content-center">
          <h1>Welcome to Durian Party!</h1>
        </div>
        {% if user.is_authenticated %}
          <div class="d-flex align-items-center justify-content-center">
            <h2>Hi {{ user.preferred_name }}!</h2>
          </div>
          <div class="d-flex align-items-center justify-content-center">
            <form method="post" action="{% url 'logout' %}">
              {% csrf_token %}
              <button type="submit" class="btn btn-outline-light">Logout</button>
            </form>
            <form action="{{ user.get_profile_url }}">
              <input class="btn btn-outline-light" type="submit" value="ManageProfile" />
            </form>
          </div>
        {% else %}
          <div class="d-flex align-items-center justify-content-center">
            <h3>Please sign in</h3>
          </div>
          <div class="d-flex align-items-center justify-content-center">
            <form action="{% url 'accounts:login_no_password' %}">
              <input class="btn btn-outline-light" type="submit" value="Log In" />
            </form>
            <form action="{% url 'accounts:signup_no_password' %}">
              <input class="btn btn-outline-light" type="submit" value="Register" />
            </form>
          </div>
        {% endif %}
      </div>
    </div>
  </div>

  <div class="p-5 mb-4 bg-light rounded-3">
    <div class="container-fluid py-5">
      <h1 class="display-5 fw-bold">Bingo Game</h1>
      <p class="col-md-8 text-justify">Get ready to daub! Join the fun and test your luck with our exciting online Bingo game.</p>
      <p class="col-md-8 text-justify">Click "Access" to start playing now!</p>
      <form action="{% url 'bingo:home' %}">
        <input class="btn btn-primary btn-lg" type="submit" value="Access" />
      </form>
    </div>
  </div>

  <div class="p-5 mb-4 bg-light rounded-3">
    <div class="container-fluid py-5">
      <h1 class="display-5 fw-bold">Durian Obstacle Course</h1>
      <p class="col-md-8 text-justify">Think you can handle the spikes? Navigate tricky paths, dodge perilous durians, and race to the finish line in this thrilling obstacle course!</p>
      <p class="col-md-8 text-justify">Click "Access" to prove your agility!</p>
      <form action="{% url 'obstacle:home' %}">
        <input class="btn btn-primary btn-lg" type="submit" value="Access" />
      </form>
    </div>
  </div>

  <div class="p-5 mb-4 bg-light rounded-3">
    <div class="container-fluid py-5">
      <h1 class="display-5 fw-bold">Know-Your-Durian</h1>
      <p class="col-md-8 text-justify">From Mao Shan Wang to D24, an expert or just curious? Test your knowledge, learn fascinating facts, and discover the rich world of durians. Become a true connoisseur!</p>
      <p class="col-md-8 text-justify">Click "Access" for the ultimate knowledge test!</p>
      <form action="{% url 'knowledge:home' %}">
        <input class="btn btn-primary btn-lg" type="submit" value="Access" />
      </form>
    </div>
  </div>

  <div class="row align-items-md-stretch">
    <div class="col-md-6 pt-2 pb-2">
      <div class="h-100 p-5 bg-light border rounded-3">
        <h2>Lucky Draw</h2>
        <p>Feeling lucky? Enter our draw for a chance to win exciting prizes!</p>
        <p>Click "Access" to participate.</p>
        <form action="knowledge:home">
          <input class="btn btn-outline-secondary" type="submit" value="Access" />
        </form>
      </div>
    </div>
    <div class="col-md-6 pt-2 pb-2">
      <div class="h-100 p-5 bg-light border rounded-3">
        <h2>Game Controls</h2>
        <p>Login as a gamemaster for game controls.</p>
        <form action="{% url 'controls:home' %}">
          <input class="btn btn-outline-secondary" type="submit" value="Controls" />
        </form>
        <form action="{% url 'accounts:signup' %}">
          <input class="btn btn-outline-secondary" type="submit" value="Register gamemaster account" />
        </form>        
      </div>
    </div>
  </div>
{% endblock %}
